*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.app{
    background: url("./bg.jpg") center/contain, no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-container{
    max-width: 400px;
    border-radius: 5px;
    background: whitesmoke;

    padding: 30px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
}
.header__title{
    font-size: 40px;
}
.header__status-bar{
    font-size: 16px;
}
.search-panel{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.search-panel__input{
    width: 60%;
    margin-right: 10px;
    outline: none;
    padding: 0 10px;
}
.form-input{
    width: 70%;
}
.todoName.done{
    text-decoration: line-through;
}
.todoName.important{
    text-transform: uppercase;
    color: orangered;
}